ASPNETCORE_ENVIRONMENT=Development
ASPNETCORE_URLS=http://+:8080

RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_USERNAME=guest
RABBITMQ_PASSWORD=guest
RABBITMQ_MAIN_EXCHANGE=factory.data.exchange
RABBITMQ_MAIN_QUEUE=factory.data.queue
RABBITMQ_MAIN_ROUTING_KEY=factory.telemetry
RABBITMQ_DLX=factory.data.dlx
RABBITMQ_DLQ=factory.data.dlq
RABBITMQ_DLQ_ROUTING_KEY=factory.telemetry.dlq

MONGODB_CONNECTION_STRING=mongodb://mongodb:27017
MONGODB_DATABASE_NAME=smartfactory
MONGODB_TELEMETRY_COLLECTION=telemetry_raw
MONGODB_DLQ_COLLECTION=telemetry_dlq_audit
