ASPNETCORE_ENVIRONMENT=Development
ASPNETCORE_URLS=http://+:8080

RABBITMQ_HOST=127.0.0.1
RABBITMQ_PORT=5672
RABBITMQ_USERNAME=guest
RABBITMQ_PASSWORD=guest
RABBITMQ_DLX=factory.data.dlx
RABBITMQ_DLQ=factory.data.dlq
RABBITMQ_DLQ_ROUTING_KEY=factory.telemetry.dlq

MONGODB_CONNECTION_STRING=mongodb://127.0.0.1:27017
MONGODB_DATABASE_NAME=smartfactory
MONGODB_TELEMETRY_COLLECTION=telemetry_raw
MONGODB_DLQ_COLLECTION=telemetry_dlq_audit
